wa/*
revents/*
traces/*
configuration/*
!configuration/configExample.txt
!configuration/README
!configuration/reventsExample.txt
!configuration/waAgendaExample.yaml
!traces/.gitkeep
!wa/.gitkeep
!revents/.gitkeep
